/* подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./top-panel/style.css');
@import url('./top-panel/mobile-style.css');
@import url('./contact-panel/style.css');
@import url('./contact-panel/mobile-style.css');
@import url('./contact-panel/task-panel/style.css');
@import url('./tool-panel/style.css');
@import url('./tool-panel/mobile-style.css');
@import url('./contact-panel/task-panel/filter/style.css');
@import url('./contact-panel/task-panel/btn-send/style.css');

/* @import url('./contact-panel/task-panel/style-correct.css'); */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.desk {
    max-width: 1440px;
    max-height: 2014px;
    background-color: #E9E9E9;
}

/* щириной от 1441px */

@media (min-width: 1441px) {
    
    .desk {
        width: 100%;
        height: 2014px;
        position: relative;
    }

    .top-mobile-panel {
        display: none;
    }

    .photo-iphone {
        display: none;
    }

    .scale-panel {
        position: fixed;
        z-index: 2;
        bottom: 16px;
        left: 1138px;
    }
}

/* шириной от 769px и до 1440px, либо горизонтальное расположение до 1440px */

@media (min-width: 769px) and (max-width: 1440px), (orientation: landscape) and (max-width: 1440px) {
    .desk {
        width: 100%;
        height: 2014px;
    }

    .top-mobile-panel {
        display: none;
    }

    .scale-panel {
        position: fixed;
        z-index: 2;
        bottom: 16px;
        right: 16px;
    }

}

/* отключенное в топ панели top-panel*/

.top-panel__item-list:nth-child(n+7) {
    display: none;
}

/* scale */

.scale-panel {
    max-width: 286px;
    max-height: 52px;


    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btns__scale {
    max-width: 114px;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn.scale {
    width: 52px;
    height: 52px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #1043C7;
   cursor: pointer;

    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: #FFFFFF;
}

.btn.scale:active {
    color: #1043C7;
    background-color: #FFFFFF;
}

.scale__view {
    width: 152px;
    height: 52px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #1043C7;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scale__view__text, .scale__view__percent {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #FFFFFF;
}



.menu-pen, .menu-shapes {
    position: relative;
    display: inline-block;
}

.sub-tool-panel__pen, 
.sub-tool-panel, .sub-tool-panel__colors, 
.sub-tool-panel-3D-shapes, .sub-tool-panel-3D-shapes-colors {
    display: none;
}

.menu-pen:hover .sub-tool-panel__pen,
.menu-pen:focus-within .sub-tool-panel__pen
 {
    display: block;
}

.menu-shapes:hover .sub-tool-panel,
.menu-shapes:focus-within .sub-tool-panel,
.menu-shapes:hover .sub-tool-panel__colors,
.menu-shapes:focus-within .sub-tool-panel__colors,
.menu-3D-shapes:hover .sub-tool-panel-3D-shapes,
.menu-3D-shapes:focus-within .sub-tool-panel-3D-shapes,
.menu-3D-shapes:hover .sub-tool-panel-3D-shapes-colors,
.menu-3D-shapes:focus-within .sub-tool-panel-3D-shapes-colors
 {
    display: flex;
}

.sub-tool-panel__item-list:nth-child(1):focus .square {
    display: flex;
}

.text {
    display: none;
}

.btn.task:hover .task-panel,
.btn.task:focus-within .task-panel {
    display: block;
}

.btn-filter:hover .filter-panel,
.btn-filter:focus-within .filter-panel {
    display: block;
}

.btn.send:hover .task__send-teachers,
.btn.send:focus-within .task__send-teachers {
    display: flex;
}