/* шириной до 768px и в вертикальном расположении */
@media (max-width: 768px) and (orientation: portrait) {
    
    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .desk {
        width: 100%;
        height: calc(100vh - 54px);
        position: relative;
        margin-top: 54px;
    }

    .top-panel-logo {
        display: none;
    }

    .scale-panel {
        display: none;
    }

    /* .top-panel */

    .top-panel__list {
        width: auto;
        height: 36px;

        position: fixed;
        z-index: 2;
        bottom: 44px;
        left: 50%;
        transform: translateX(-50%);

        background-color: #FFFFFF;
        border-radius: 6px;
    }

    .step {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .step__btn {
        width: 56px;
        display: flex;
        flex-direction: row;
    }

    .step__back, .step__direct {
        width: 16px;
        height: 16px;
    }
    
    .top-panel__item-list:nth-child(3) .btn {
        position: relative;
        z-index: 2;
        width: 30px;
        height: 36px;
    }

    .btn {
        position: relative;
        z-index: 2;
        width: 32px;
        height: 36px;
    }

    .step__btn:active .btn:nth-child(1) {
        border-radius: 6px 0 0 6px;
    }
    
    .btn:active .step__back path, .btn:active .menu__save__function path {
        fill: #FFFFFF;
    }



    /* .top-mobile-panel */

    .top-mobile-panel {
        width: 100%;
        height: 50px;

        position: fixed;
        z-index: 2;
        top: 10px;
        padding: 4px 16px;
        
        background-color: #FFFFFF;
        display: flex;
    }

    .top-mobile-panel-elemets {
        list-style: none;
        width: 100%;
        max-height: 42px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .top-mobile-panel-logo {
        width: 128px;
        height: 42px;
        display: flex;
    }

    .top-mobile-panel-list {
        width: 30px;
        height: 30px;
        display: flex;
    }

    /* .contact-panel */

    .contact-panel {
        width: 70px;
        height: 36px;

        position: fixed;
        z-index: 1;
        top: 76px;
        right: 16px;
        border-radius: 6px;
        border: none;

        display: flex;
    }

    /* Скрыл в контакт панели кнопку отправить */

    .contact-panel__item-list:nth-child(1) {
        display: none;
    }
    
    .video__call {
        max-width: 70px;
        max-height: 36px;
    }

    .btn.translate {
        width: 32px;
        height: 36px;
    }

    .btn.translate:active {
        border-radius: 6px 0px 0px 6px;
    }

    .menu__save__function {
        width: 32px;
        height: 36px;
        padding: 4px 8px;
    }

    .menu__save__function.four {
        height: 36px;
        width: 30px;
        padding: 0px 10px 0px 10px;
    }

    .person {
        display: none;
    }

    .separator-mobile {
        display: flex;
        align-items: center;
    }

    .separator.horizont::before {
        content: "";
        position: absolute;
        height: 28px;
        border-left: 1px solid #D7D7D7;
        margin-top: -14px;
    }

    .photo-pk {
        display: none;
    }

    .photo-iphone {
        width: 38px;
        height: 36px;
        padding: 2px 8px 6px 8px;
    }

    /* .tool-panel */

    .tool-panel {
        width: 36px;
        height: 384px;

        position: fixed;
        z-index: 2;
        top: 76px;
        left: 16px;
        box-shadow: 2px 0px 4px 0px #00000040;
    }

    .btn.redactor, .btn.shapes {
        width: 36px;
        height: 32px;

    }

    /* .btn.redactor active */

    .redactor__icon {
        width: 32px;
        height: 36px;
        padding: 8px 10px;
    }

    .separator.skyline::before {
        content: "";
        position: absolute;
        height: 28px;
        border-left: 1px solid #D7D7D7;
        margin-top: 6px;
    }

    /* .sub-tool-panel */

    /* .sub-tool-panel {
        display: none;
    } */

    .sub-tool-panel__colors {
        display: none;
    }

    /* sub-tool-panel-3D-shapes */

    .sub-tool-panel-3D-shapes {
        display: none;
    }

    /* sub-tool-panel-3D-shapes-colors */

    .sub-tool-panel-3D-shapes-colors {
        display: none;
    }
}

