/* шириной до 768px и в вертикальном расположении */
@media (max-width: 768px) and (orientation: portrait) {
    
    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .desk {
        width: 100%;
        height: calc(100vh - 54px);
        position: relative;
        margin-top: 54px;
    }

    .top-panel-logo {
        display: none;
    }

    .scale-panel {
        display: none;
    }

    /* .top-mobile-panel */

    .top-mobile-panel {
        width: 100%;
        height: 50px;

        position: fixed;
        z-index: 2;
        top: 10px;
        padding: 4px 16px;
        
        background-color: #FFFFFF;
        display: flex;
    }

    .top-mobile-panel-elemets {
        list-style: none;
        width: 100%;
        max-height: 42px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .top-mobile-panel-logo {
        width: 128px;
        height: 42px;
        display: flex;
    }

    .top-mobile-panel-list {
        width: 30px;
        height: 30px;
        display: flex;
    }

    .sub-tool-panel__colors {
        display: none;
    }

    /* sub-tool-panel-3D-shapes */

    .sub-tool-panel-3D-shapes {
        display: none;
    }

    /* sub-tool-panel-3D-shapes-colors */

    .sub-tool-panel-3D-shapes-colors {
        display: none;
    }
}

