@media (max-width: 768px) and (orientation: portrait) {

    .task__send-teachers {
        position: absolute;
        width: 145px;
        height: 158px;
        top: 0;
    }
    
    .task__send-teachers-form {
        width: 168px;
        height: 148px;
        margin-top: 10px;
        left: -8px;
        padding: 12px 6px 12px 6px;
        gap: 16px;
    }



    .task__send-teachers-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;
    }

    .task__send-teachers-item p {
        height: 14px;
        font-size: 6px;
        line-height: 7.2px;
    }

    .task__send-teachers-item:nth-child(-n+4) p {
        margin: 4px 0 4px 0;
    }

    .btn-task__send {
        width: 147px;
        height: 20px;
        font-size: 10px;
        line-height: 10px;
        margin-left: 6px;
    }

    /* .task-panel-photo {
        width: 24px;
        height: 24px;
    } */

    .check-label {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #check1:checked + label .task-panel-photo,
    #check2:checked + label .task-panel-photo,
    #check3:checked + label .task-panel-photo,
    #check4:checked + label .task-panel-photo,
    #check5:checked + label .task-panel-photo,
    #check6:checked + label .task-panel-photo,
    #check7:checked + label .task-panel-photo,
    #check8:checked + label .task-panel-photo {
        border: 1px solid #1043C7;
    }

    .new-label {
        width: 9px;
        height: 9px;
    }
}


@media (min-width: 769px), (orientation: landscape) {

    .task__send-teachers {
        position: absolute;
        width: 153px;
        height: 400px;
        top: 0;
    }

    .task__send-teachers-form {
        width: 290px;
        height: 282px;
        margin-top: 34px;
        padding: 20px 10px;
        gap: 20px;
    }

    .task__send-teachers-item p {
        height: 23px;
        font-size: 10px;
        line-height: 12px;
    }

    .task__send-teachers-item:nth-child(-n+4) p {
        margin: 4px 0 20px 0;
    }

    .btn-task__send {
        width: 270px;
        height: 38px;
        font-size: 18px;
        line-height: 21.6px;
    }

    /* .task-panel-photo {
        width: 55px;
        height: 55px;
    } */

    .check-label {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
    }
    
    #check1:checked + label .task-panel-photo,
    #check2:checked + label .task-panel-photo,
    #check3:checked + label .task-panel-photo,
    #check4:checked + label .task-panel-photo,
    #check5:checked + label .task-panel-photo,
    #check6:checked + label .task-panel-photo,
    #check7:checked + label .task-panel-photo,
    #check8:checked + label .task-panel-photo {
        border: 3px solid #1043C7;
    }

    .new-label {
        width: 16px;
        height: 16px;
    }
}

.task__send-teachers {
    margin-top: 24px;
    display: none;
    flex-direction: column;
}

.task__send-teachers-form {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    list-style: none;
    cursor: auto;
}

.task__send-teachers-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}





.task__send-teachers-item p {
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 4px 0 0 0;
}

.btn-task__send {
    border-radius: 10px;
    border: none;
    background-color: #ECECEC;
    color: #828282;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/* .task-panel-photo:active {
    border: 3px solid #1043C7;
} */

.task__send-teachers-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

#check1,
#check2,
#check3,
#check4,
#check5,
#check6,
#check7,
#check8 {
    display: none;
}



.task__send-teachers-item-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.task-panel-photo {
    display: block;
    border-radius: 50%;
    border: none;
    background-position: center;
    box-shadow: 0px 2px 3.2px 0px #00000040;
    position: relative;
}

.check-label {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: #1043C7;
    align-items: center;
    justify-content: center;
}

.btn.send {
    position: relative;
}

.new-label {
    border-radius: 50px;
    background-color: #FF0000;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #FFFFFF;

    font-family: 'Inter', sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 9.68px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}