/* шириной от 769px или горизонтальное расположение экрана */
@media (min-width: 769px), (orientation: landscape) {
    
    /* contact-panel */

    .contact-panel {   
        padding: 6px 12px 6px 0px;  
    }
    
    /* Скрыл в контакт панели кнопку отправить */
    .contact-panel__item-list:nth-child(1) {
        display: none;
    }
    
    .btn.translate {
        border-radius: 10px 0 0 10px;
    }
        
    /* sub-tool-panel */

    .sub-tool-panel__shapes {
        /* width: 263px; */
        height: 320px;
        margin-left: 72px;
        border-radius: 12px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    
    .sub-tool-panel {
        left: 0px;
        top: 0px;
    }
    
    .sub-tool-panel__base-scroll {
        width: 7px;
        height: 298px;
        margin: 10px 8px 10px 0px;
    }
    
    .sub-tool-panel__scroll {
        width: 7px;
        height: 130px;
    }
    
    .sub-tool-panel__list {
        padding: 10px 8px 10px 10px;

        gap: 10px;
    }
    
    .sub-tool-panel__item-list {
        width: 110px;
        height: 110px;
    
        box-shadow: 1px 2px 5px 1px #00000040;
    }
    
    .sub-tool-panel__item-list img {
        width: 82px;
        height: 82px;
    }
    
    /* sub-tool-panel__colors */
    
    .sub-tool-panel__colors {
        width: 250px;
        height: 79px;
    
        top: 330px;
        left: 72px; 
    }
    
    .sub-tool-panel__colors-list {
        height: 40px;
        gap: 6px;
    }
    
    .sub-tool-panel__colors-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .sub-tool-panel__colors-item svg {
        width: 30px;
        height: 30px;
    }
    

    .sub-tool-panel__colors-item:nth-child(6) {
        display: none;
    }
    
    .sub-tool-panel__width-list {
        height: 39px;
        gap: 14px;
    }
    
    .sub-tool-panel__lines-item {
        width: 28px;
        height: 28px;
        margin: 7px 0px 4px 13px;
    }
    
    .sub-tool-panel__width-item {
        width: 72px;
        height: 20px;
        margin: 10px 0px 9px 0px;
        gap: 12px;
    }
    
    .btn.math {
        width: 20px;
        height: 20px;
    }
    
    .sub-tool-panel__width-item__count {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
    }    
}

/* шириной до 768px и в вертикальном расположении */

@media (max-width: 768px) and (orientation: portrait) {

    /* Скрыл в контакт панели кнопку отправить */
    .contact-panel__item-list:nth-child(1) {
        display: none;
    }
    
    .btn.translate {
        border-radius: 10px 0 0 10px;
    }
        
    /* sub-tool-panel */
    
    .sub-tool-panel {
        top: 0px;
        left: 0px;
    }

    .sub-tool-panel__shapes {
        margin-left: 43px;
        width: 142px;
        height: 136px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px 0px #00000040;
    }
    
    .sub-tool-panel__base-scroll {
        width: 4px;
        height: 124px;
        margin: 6px 4px 6px 0px;
    }
    
    .sub-tool-panel__scroll {
        width: 4px;
        height: 53px;
    }
    
    .sub-tool-panel__list {
        padding: 6px 4px 6px 6px;
        gap: 4px;
    }
    
    .sub-tool-panel__item-list {
        width: 60px;
        height: 60px;
    
        box-shadow: 0px 2px 5px 0px #00000040;
    }
    
    .sub-tool-panel__item-list img {
        width: 44px;
        height: 44px;
    }
    
    /* sub-tool-panel__colors */
    
    .sub-tool-panel__colors {
        width: 140px;
        height: 52px;
    
        top: 141px;
        left: 43px;
    }
    
    .sub-tool-panel__colors-list {
        height: 26px;
        gap: 4px;
    }
    
    .sub-tool-panel__colors-item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .sub-tool-panel__colors-item svg {
        width: 16px;
        height: 16px;
    }

    .sub-tool-panel__colors-item:nth-child(6) {
        background-color: #3B682F;
    }
    
    .sub-tool-panel__width-list {
        height: 26px;
        gap: 10px;
    }
    
    .sub-tool-panel__lines-item {
        width: 16px;
        height: 16px;
        margin: 2px 0px 8px 12px;
    }

    .sub-tool-panel__lines-item svg {
        width: 16px;
        height: 16px;
    }
    
    .sub-tool-panel__width-item {
        max-width: 48px;
        height: 17px;
        margin: 1px 0px 8px 0px;
        gap: 4px;
    }
    
    .btn.math {
        width: 16px;
        height: 16px;
    }
    
    .sub-tool-panel__width-item__count {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
    }
}


/* Общие свойства */

/* sub-tool-panel */
    
.sub-tool-panel {
    position: absolute;
    z-index: 1;
    border: none;
    flex-direction: row;
}

.sub-tool-panel__shapes {
    background-color: #FFFFFF;
    display: flex;
}

.sub-tool-panel__base-scroll {
    border-radius: 89px;
    background-color: #ECECEC;
}
    
.sub-tool-panel__scroll {
    border-radius: 50px;
    border: none;
    background-color: #1043C7;
}
    
.sub-tool-panel__scroll:active {
    background-color: #FFFFFF;
    border: 1px solid #1043C7;
}

.sub-tool-panel__list {
    width: 100%;
    list-style: none;

    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    justify-content: center;
}

.sub-tool-panel__item-list {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* sub-tool-panel__colors */
    
.sub-tool-panel__colors {
    position: absolute;
    z-index: 1;
   
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.sub-tool-panel__colors-list {
    width: 100%;
    padding: 5px 12px;
    list-style: none;    
    display: flex;
    flex-direction: row;
}


.sub-tool-panel__item-list:active {
    border: 2px solid #1043C7;
}
    
.sub-tool-panel__colors-item:nth-child(2) {
    background-color: #DE3C3C;
}
    
.sub-tool-panel__colors-item:nth-child(3) {
    background-color: #000000;
}
    
.sub-tool-panel__colors-item:nth-child(4) {
    background-color: #33FF00;
}
    
.sub-tool-panel__colors-item:nth-child(5) {
    background-color: #33FF00;
}

.sub-tool-panel__colors-item:active {
    border: 2px solid #1043C7;
}

.sub-tool-panel__width-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.sub-tool-panel__lines-item:active {
    background-color: #1043C7;
}

.sub-tool-panel__lines-item:active path {
    fill: #FFFFFF;
}

.sub-tool-panel__width-item {
    display: flex;
    flex-direction: row;
}

.btn.math {
    border-radius: 50%;
    border: none;
    background-color: #F1DADA;
}



    /* .sub-tool-panel__lines-item:active {
        background-color: #1043C7;
    }
    
    .sub-tool-panel__lines-item:active path { 
        fill: #FFFFFF;
    } */

