/* шириной от 769px или горизонтальное расположение экрана */

@media (min-width: 769px), (orientation: landscape) {


}


/* шириной до 768px и в вертикальном расположении */

@media (max-width: 768px) and (orientation: portrait) {

    .top-panel__list {
        width: 343px;
        
    }

    .square {
        width: 140px;
        height: 140px;
        position: absolute;
        z-index: 1;
        top: 140px;
        left: 149px;
        border: 4px solid #33FF00;
    }
}

.square {
    display: none;
}