/* шириной до 768px и в вертикальном расположении */
@media (max-width: 768px) and (orientation: portrait) {

    .btn.task:active {
        border-radius: 6px 0 0 6px;
    }

    .btn.translate:active {
        border-radius: 0;
    }
}

.btn.task {
    display: inline-flex;
}
